<hello name="{{ name }}"></hello>
<p @slideLeft>
  Start editing to see some magic happen :) Start editing to see some magic
  happen :) Start editing to see some magic happen :) Start editing to see some
  magic happen :)
</p>
<p @slideInLeft>
  Start editing to see some magic happen :) Start editing to see some magic
  happen :) Start editing to see some magic happen :) Start editing to see some
  magic happen :)
</p>
<p @slideRight>
  Start editing to see some magic happen :) Start editing to see some magic
  happen :) Start editing to see some magic happen :) Start editing to see some
  magic happen :)
</p>
<p @slideInRight>
  Start editing to see some magic happen :) Start editing to see some magic
  happen :) Start editing to see some magic happen :) Start editing to see some
  magic happen :)
</p>
